# 1. Ignorovat uplne vse
*

# 2. Povolit adresare, aby Git mohl prochazet strukturu projektu
!*/

# 3. Povolit vsechny soubory, ktere maji tecku v nazvu (zdrojaky, hlavicky, makefily, configy)
!*.*

# 4. Povolit konkretni soubory bez pripony, ktere chceme sledovat (napr. Makefile)
!Makefile

# 5. Ignorovat a.out v jakemkoliv adresari
**/a.out
